.admin-bar {
	height: 2rem;
	background-color: #d9d9d9 !important;
	border-bottom: 1px solid rgba(0,0,0,.125);
	font-size: 0.9rem;

	.embed {
		background-color: #bebebe;
		border-radius: 5px;
		padding: 0 .3rem;
		font-weight: 500;
		white-space: nowrap;
		max-width: 8rem;
		overflow: hidden !important;
		text-overflow: ellipsis;
	}

	.fas, .fab {
		font-size: 0.8rem;
	}

	.fa-gitlab {
		color: #E2432A;
	}

	.fa-laravel {
		color: #F05340;
	}

	.fa-php {
		color: #787CB5;
	}
}
