// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Adminbar
@import 'adminbar';

body {
    background-color: #f3f3f3 !important;
}

.logo {
    width: 1.9rem;

    &.auth {
        width: 2.3rem;
    }
}

.btn-auth {
    padding: .3rem 1.3rem !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: .9rem !important;
    border-radius: 5rem !important;
}

.emoji {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: .8rem;
    padding: .5rem 1rem .5rem .7rem;

    &.sidebar-active, &:hover {
        background-color: #e3e3e3;
        border-radius: 2em;
        font-weight: bold;
        color: #007bff;
    }
}

.dropdown-emoji {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: .8rem;
    padding: .3rem .5rem .3rem .5rem;

    &:hover {
        background-color: #e3e3e3;
        border-radius: .2em;
        font-weight: bold;
    }
}

.banner {
    background-color: #000 !important;
    color: #ffffff;

    .btn {
        font-weight: bold;
        border-radius: 2em !important;
    }

    h1 {
        max-width: 8em;
    }
}

.avatar {
    &.small {
        width: 2rem;
    }

    &.mini {
        width: 1.3rem;
    }

    &.profile {
        width: 5rem;
    }

    &.product {
        width: 4.5rem;
    }

    &.maker {
        width: 5rem;
    }
}

.summary {
    margin: .5rem 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
        line-height: 2;
        display: block;
        margin: 0;
        padding: 0;
    }
}

.summary-nav {
    .nav-link {
        padding: .3rem .7rem !important;
    }
}

.bio {
    font-weight: 400;
    font-size: 1.6rem !important;
}

.todo {
    .name {
        vertical-align: middle;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .body {
        font-size: 1.1rem;
        word-break: break-word;
        line-height: 1.5;
    }
}

.custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #007bff !important;
}

.custom-control-label {
    color: #000000 !important;
}

.navbar {
    .dropdown-menu {
        z-index: 2000 !important;
    }

    .dropdown-item {
        padding: .35rem 1.2rem !important;
    }
}

.settings {
    background-color: #fff;
    padding: 2rem !important;
    border-radius: .8rem;
}

.ajax-load{
    background: #e1e1e1;
    padding: 10px 0px;
    width: 100%;
}

.badges {
    border-radius: 1em;
    text-decoration: none;
    line-height: 1;
    text-transform: uppercase;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px transparent solid;
    font-size: .7rem;

    &.patron {
        border-color: #f2f2fa;
        background-color: #f2f2fa;
        padding: 0 .2rem;
    }

    &.patron-profile {
        border-color: #f2f2fa;
        background-color: #f2f2fa;
        padding: .2rem .3rem;
    }

    &.new {
        color: #00CF6A;
        padding: .3em .45em;
        font-size: .6rem;
        border: 1px #00CF6A solid;
        border-radius: 1em;
    }

    &.streaks {
        border-color: #ffdb99;
        background-color: #ffdb99;
        padding: 0 .3rem;
    }

    &.nav-streaks {
        background-color: #ffdb99;
        padding: .1rem .4rem;
        font-size: .8rem;
        font-weight: 500;
    }
}

.btn {
    &.btn-light2 {
        background-color: #e3e3e3;

        &:hover {
            background-color: #d3d3d3;
        }
    }
}

.card {
    border: none !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border: none !important;
}

.card-header {
    background-color: #ffffff !important;
}

.vamiddle {
    vertical-align: middle;
}

.vertical-center {
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.hello {
    font-size: 3.5rem;
}

.telegram-logo {
    width: 4.5rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8 !important;
}

.hashtag {
    color: #000000;
    background-color: #e6e6ff;
    padding: 0 .2rem;
    border-radius: .3em;

    &:hover {
        color: #000000;
        background-color: #c2c2fc;
    }
}

.popover-title {
    font-size: 1.2rem;
    font-weight: bold; 
}

// confetti canvas 
#particle-canvas {
    display: block; 
    position: fixed;
    pointer-events: none; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    z-index: 10;
}

.social-icon {
    width: 1.1rem;
}

.w-45 {
    width: 45% !important;
}

.v-divider {
    border-right: 1px solid rgba(0,0,0,.125);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.profile-footer {
    background-color: #ffffff !important;
}

.user-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-pills {
    .active {
        color: #ffffff !important;

        &:hover {
            color: #ffffff !important;
        }
    }
}

@media (max-width: 768px) {
    .sidenav-text {
        display: none;
    }

    .sidenav {
        .nav-link {
            padding: 0;
        }
    }

    .emoji {
        padding: .6rem .6em .6rem .6rem;
    }

    .summary {
        flex-direction: column;
    }

    .bio {
        font-size: 1.1rem;
    }
}

@media (max-width: 1150px) {
    .sidenav-text {
        display: none;
    }

    .emoji {
        padding: .6rem .6em .6rem .6rem;
    }
}
